


{% load static %}

<head>
   {% include 'exam/links.html' %}
  </head>
<center>
<body >

{% load jalali_tags %}

<p>{{ request.user.date_joined|to_jalali:'%y/%m/%d  %H:%M:%S' }}</p>

<form method="post">
{% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>

<!-- By default, Datepicker using jQuery, you need to set your script after loading jQuery! -->
	<!-- loading directly -->
		<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
	<!-- OR -->
	<!-- loading by form (if used AdminJalaliDateWidget) -->
		{{ form.media }}



</body>
</center>