{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load jalali_tags%}
<link rel="stylesheet" type="text/css" href=" {% static "pfont.css"  %}">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href=" {% static "pfont.css"  %}">

  <title>{{ new.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'news/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'news/css/blog-post.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

</head>

<body>
 <script>
    $("#comment").change(function () {
      var comment = $(this).val();

      $.ajax({
        url: '/ajax/',
        data: {
          'comment': comment
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_ok) {
            alert("comment was ok");
          }
        }
      });

    });
  </script>

  <!-- Navigation -->
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" >
        <ul class="navbar-nav ml-auto" style="text-align: center;">
          <li class="nav-item active">
            <a class="nav-link" href="/../../" style='font-family: "byekan" ;'>صفحه اصلی
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login"  style='font-family: "byekan"'>ورود</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
  </div>
  </div> 

  <!-- Page Content -->
  <div class="container" style="align-content: right; text-align: right;">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8" >

        <!-- Title -->
        <h3 class="mt-3" style="font-family: 'byekan'">{{new.title}}</h1>

        <!-- Author -->
       

        <hr>

        <!-- Date/Time -->
         <p style="font-family: 'byekan'"> نوشته شده در تاریخ</p> <p style="text-align: center;"> {{ new.time|to_jalali:' %y/%m/%d %H:%M' }}</p>

        <hr>

      
        <!-- Preview Image -->
        <div class="text-center">
          <img src={{new.image.url}} class="rounded" alt="..."  width='90%' height='60%'>
        </div>

        <hr>

         <blockquote class="blockquote">
          <p class="mb-0" style="font-family: 'byekan'">{{new.explanation}}</p>
          <!-- <footer class="blockquote-footer">
            <cite title="Source Title">fef</cite>
          </footer> -->
        </blockquote>

        {% if user.is_authenticated %}
            <div class="card my-4">
          <h5 class="card-header">نظر بدهید</h5>
          <div class="card-body">
            <form method='get' action= '/comments/'>
              <div class="form-group">
                <textarea class="form-control" rows="3" name = 'comment' id='comment'></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        
        {% endif %}
      
      {% for comment in comments %}

        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src={{comment.user.student.image.url}}  width="50px" height="50px">
          <div class="media-body">
            <h5 class="mt-0">{{comment.user}}</h5>
             {{comment.comment}}
          </div>
        </div>
        {% endfor %}

  
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->

        <!-- Categories Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header" style='font-family:"byekan" ; color:green'>دیگر اخبار</h5>
          <div class="card-body">
            <!-- You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers! -->
            {% for new in news %}
            <p style='font-family:"serif" ;color:green; font-szie:15 '>
            <a href='./{{new.id}}' style='font-family:"byekan" ; color:MediumSeaGreen ;  '>
            {{new.title}}  </a> &nbsp; {{new.time|to_jalali:' %y/%m' }} </p>
            {% endfor %}

          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white" style="font-family: 'byekan';">گروه فنی مهندسی آرمش</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'news/vendor/jquery/jquery.min.js"' %}></script>
  <script src="{% static 'news/vendor/bootstrap/js/bootstrap.bundle.min.js"' %}></script>

 <script>
    var comment = {{comments}}
 </script>
  <script>
    $("#comment").change(function () {
      var comment = $(this).val();

      $.ajax({
        url: '/ajax/',
        data: {
          'comment': comment
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_ok) {
            alert("comment was ok");
          }
        }
      });

    });
  </script>
  <script>
    $("#comment").change(function () {
      console.log( $(this).val() );
    });
  </script>
</body>

</html>
