{% extends "my_profile/base.html" %}

{% block content %}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      .container {
        padding: 2px 16px;
      }
</style>
 {% load jalali_tags %}

<center>
 <h3 style="font-family: 'byekan';">  تمارین {{dars.name}} </h3>
 </center>

  {% for tamrin in tamrins  %}
  {% if not tamrin.is_expired %}
  <center>

   <div class="card">
    
    <div class="container" style='align-items:right'>
      <h4><b style='font-family:"byekan"'>{{tamrin.name  }}</b></h4>
  
      <a href={{tamrin.file.url}}>
      <button type="button" class="btn btn-info" style='font-family:"byekan"' >دانلود</button></a>
      {% if tamrin.is_solved %}

      <h4 style="font-family:'byekan'; color:green">تمرین برای تصحیح تحویل داده شده </h4>
     
      {% else %}
       <p style='font-family:"byekan"'>حداکثر مهلت تحویل تمرین</p>
      <p>{{tamrin.time_expire|to_jalali:'%m/%d  %H:%M'}}</p>
      <form method='post'  enctype="multipart/form-data">

         {{form.file}}
         <input type="hidden" id="custId" name="tamrin" value="{{tamrin.id}}">
         
         <input type="submit" value="فرستادن">
      </form>
        {% endif %}
      
    </div>
  </div>
</center>

{% else %}
 <center>

   <div class="card">
    {% comment %} <img src="{{user.student.image.url}}" alt="Avatar" style="width:10%"> {% endcomment %}
    <h4 style="color:red ; font-family:'byekan'">مهلت ارسال ب پایان رسیده</h4>
    {% if tamrin.is_solved %}
      <h4 style="font-family:'byekan'; color:green">تمرین برای تصحیح تحویل داده شده </h4>
     
    {% else %}
      <h4 style="font-family:'byekan'; color:red">شما این تمرین را انجام ندادید </h4>
    
    {% endif %}
    <div class="container" style='align-items:right'>
      <h4><b style='font-family:"byekan"'>{{tamrin.name  }}</b></h4>
      <a href={{tamrin.file.url}}>
      <button type="button" class="btn btn-info" style='font-family:"byekan"' >دانلود</button></a>
     
     
    </div>
  </div>


{% endif %}

  
  {% endfor %}

 


{% endblock content %}

