{% extends "my_profile/base.html" %}

{% block content %}

<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }
</style>


 <h4 style="font-family: 'byekan';">  تمارین {{dars.name}} </h4>

  {% for tamrin in tamrins  %}
  <center>

   <div class="card">
    {% comment %} <img src="{{user.student.image.url}}" alt="Avatar" style="width:10%"> {% endcomment %}
    <div class="container" style='align-items:right'>
      <h4><b style='font-family:"byekan"'>{{tamrin.name  }}</b></h4>
      <a href={{tamrin.file.url}}> download</a>
      <p>Architect & Engineer <div> yes </div></p>
    </div>
  </div>
</center>
  
  {% endfor %}

 


{% endblock content %}

