{% extends "my_profile/base.html" %}
{% block content %}

<style>
 .card {
        
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
      }
</style>
  <script> 
   </script>

  {% load jalali_tags %}


  {% for tamrin in tamrins  %}
  {% if not tamrin.is_expired %}
  <center>

   <div class="card" style="background-color:powderblue;">
    
    <div class="container" style='align-items:right'>
     <h4><b style='font-family:"byekan" ;color:blue;'>{{tamrin.dars }}</b></h4>
      <h4><b style='font-family:"byekan"'>{{tamrin.name  }}</b></h4>
     
      <a href={{tamrin.file.url}}>
      <button type="button" class="btn btn-info" style='font-family:"byekan"' >دانلود</button></a>
       <p style='font-family:"byekan"'>حداکثر مهلت تحویل تمرین</p>
      <p>{{tamrin.time_expire|to_jalali:'%m/%d  %H:%M'}}</p>

      
    </div>
  </div>
</center>
{% endif %}
{% endfor %}

{% endblock content %}