
{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href= "{% static  "my_profile/css/style.css" %}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="order-last" class="img" style="background-color: black;">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
        <div class="">
               <center>
		  		<h3><a href="index.html" class="logo">{{user.first_name}} <span>{{user.last_name}}</span></a></h3>
                  </center>
	        <ul class="list-unstyled components mb-5">
                 <div align = 'right' >
                 
	          <li class="active">
                    
	            <a href="/"> صفحه اصلی مدرسه <span class="fa fa-home mr-3"></span></a>
                    
	          </li>
              {% for dars in doroos %}
	          <li>
	              <a href="#"> {{dars.name}} درس <span class="fa fa-user mr-3"></span></a>
	          </li>
              {% endfor %}
	          <li>
              <a href="#">کارنامه <span class="fa fa-sticky-note mr-3"></span></a>
	          </li>
	          <li>
              <a href="#"> یک درس دیگر اضافه کن <span class="fa fa-plus mr-3"></span> </a>
	          </li>
	          <li>
              <a href="#"> خروج <span class="fa fa-sign-out mr-3"></span></a>
	          </li>
</div>
	        </ul>
                
	        <div class="mb-5 px-4" align='right'>
						<h3 class="h6 mb-3">برای اضافه نمودن درس کد درس را وارد کنید</h3>
						<form action="#" class="subscribe-form">
	            <div class="form-group d-flex">
	            	<div class="icon"><span class="icon-paper-plane"></span></div>
	              <input type="text" class="form-control" placeholder="کد درس">
	            </div>
                <div align = 'right'>
                <button type="submit" class="btn btn-primary">اضافه کن</button>
                </div>
	          </form>
					</div>

	        <div class="footer px-4">
	        	<p>
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						</p>
	        </div>

	      </div>

    	</nav>


        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Sidebar #04</h2>
        {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> {% endcomment %}
      </div>
		</div>

    <script src="{% static  "my_profilejs/jquery.min.js" %}"></script>
    <script src="{% static  "my_profilejs/popper.js" %}"></script>
    <script src="{% static  "my_profilejs/bootstrap.min.js" %}"></script>
    <script src="{% static  "my_profilejs/main.js" %}"></script>
  </body>
</html>