
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static "pfont.css"  %}">
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>ایجاد امتحان</title>
  </head>
  
  <body style="align-items:right ; text-align:right ; align-content:right;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3 mt-3">
                    <h2 class="mb-3" style='font-weight:300 ; font-family:"byekan"'>{{exam.name}} </h2></div>

<center>
<div style="align-items: center;">
  <a href = '/teacher/exam/{{dars.id}}' >
<button type="button " class='btn btn-success' style="font-family:'byekan'" >اتمام ویرایش و بازگشت به پنل </button> </a>

<br>
<br>
 <a href = '/teacher/exam/addq/{{exam.id}}' >
<button type="button " class='btn btn-primary' style="font-family:'byekan'" >اضافه نمودن سوال تستی</button> </a>

<br>
<br>
 <a href= '/teacher/exam/addwq/{{exam.id}}' >
  <button type="button " class='btn btn-primary' style="font-family:'byekan'" >اضافه نمودن سوال تشریحی</button> </a>
  
</div>

</center>

<br>
 <style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      .container {
        padding: 2px 16px;
      }
</style>

{% for q in qs %}



    <div class="card">
        <div class="container" style='align-items:right'>
          <h6>سوال تستی</h6>
      <h4><b style='font-family:"byekan"'>{{q.question }}</b></h4>
      <center>
      {% if q.image %}
      <img src="{{q.image.url}}" alt="" width='200px    '>
      {% endif %}

      </center>
      <p style="text-align: right ; align-items:right">

      <p style='font-family:"byekan"' >{{q.choice_one }}</p>
      <p style='font-family:"byekan"'>{{q.choice_two }}</p>
      <p style='font-family:"byekan"'>{{q.choice_three}}</p>
      <p  style='font-family:"byekan"'>{{q.choice_four }}</p>
      </p>
  
        </div>
        <a href="/teacher/exam/q/delete/{{q.id}}">
        <button type="button" class='btn btn-danger' style="font-family:'byekan'"> حذف</button></a>
    </div>


{% endfor %}

{% for wq in wqs  %}
 
      <div class="card">
        <h6>سوال تشریحی</h6>
          <div class="container" style='align-items:right'>
          
            <h4><b style='font-family:"byekan"'>{{wq.question}}</b></h4>

            <center>
            
            {% if wq.image %}
              
            <img src="{{wq.image.url}}" alt="" width='200px'   > 
              
            {% endif %}
      
          </center>
              
          </div>
      </div>
 
{% endfor %}

                <div id='alert_wrapper'></div>
            </div>
        </div>
    </div>
    <script>

        var progress = document.getElementById('progress')
        var progress_wrapper = document.getElementById('progress_wrapper')
        var progress_status = document.getElementById('progress_status')

        var upload_btn = document.getElementById('upload_btn')
        var loading_btn = document.getElementById('loading_btn')
        var cancel_btn = document.getElementById('cancel_btn')

        var alert_wrapper = document.getElementById('alert_wrapper')
        var input = document.getElementById('file_input')
        var file_input_label = document.getElementById('file_input_label');

        function show_alert(message , alert)
        {
            alert_wrapper.innerHTML = `<div class="alert alert-${alert} alert-dismissible fade show" role="alert">
                <sapn style="font-family:'byekan'">${message}</span>
                <strong></strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>`
        }
        
        function input_filename(){
            file_input_label.innerText = input.files[0].name;
        }

        function upload(url){

            if (!input.value){
                show_alert("no file selected" , 'warning');
                return ;
            }

            var data = new FormData()
            var request = new XMLHttpRequest(); 
             
            request.responseType = 'json';

            alert_wrapper.innerHTML = "" ;

            input.disabled = true

            upload_btn.classList.add('d-none');

            loading_btn.classList.remove('d-none');

            cancel_btn.classList.remove('d-none')

            progress_wrapper.classList.remove('d-none')

            var file = input.files[0];

            var filename = file.name

            var filesize = file.size 

            document.cooke = `filesize ${filesize}`


            data.append('file' , file);
            tamrin_name = document.getElementById('tamrin_name').value
            data.append('name' , tamrin_name)

            request.upload.addEventListener('progress' , function(e) {

                var loaded = e.loaded;
                var total = e.total
                var percentage_complete = (loaded / total) *100

                progress.setAttribute("style" , `width:${Math.floor(percentage_complete)}%` )

                progress_status.innerText =  `${Math.floor(percentage_complete)} % uploaded`

            })

                request.addEventListener('load' , function(e){

                    
                        show_alert('آپلود انجام شد' , "success");
                        reset();
                     
                        path = window.location.pathname
                        s_path = path.split('/')[4]
                        window.location.pathname = '/teacher/files/' + s_path
                        
                  
                })

                request.addEventListener("error" , function(e){
                    reset();
                    show_alert('مشکلی پیش آمده لطفا دوباره بارگذاری کنید' , "danger")
                })
 

                request.open('post' , url)
                request.send(data)

                cancel_btn.addEventListener("click" , function(){
                    request.abort()
                })

                request.addEventListener('abort' , function(e) 
                {
                    reset();
                    show_alert("آپلود انجام نشد" , "warning")

                })

        } //end upload

        function reset(){

            input.value = null;
            input.disabled = false

            cancel_btn.classList.add('d-none')

            loading_btn.classList.add('d-none')

            upload_btn.classList.remove('d-none')

            progress_wrapper.classList.add('d-none')

            progress.setAttribute("style" , "width: 0%")

            file_input_label.innerText = "Select file"
            
        }

           
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>