{% extends 'teacher_profile/base.html' %}
{% load jalali_tags %}

 


{% block content %}
 
 <style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      .container {
        padding: 2px 16px;
      }
</style>
 

<center>
 <h3 style="font-family: 'byekan'; color:green;">  تمارین {{dars.name}} </h3>
 </center>
 <a href = '/teacher/excercise/create_new/{{dars.id}}'>
 <button type="button" class="btn btn-primary" style='font-family:"byekan"' >برای ایجاد تمرین جدید کلیک کنید</button></a>

{% comment %} <form method="post">
{% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>  {% endcomment %}

   {% for tamrin in tamrins  %}
  
<center>

   <div class="card">

    <div class="container" style='align-items:right'>
      <h4><b style='font-family:"byekan"'>{{tamrin.name  }}</b></h4>
  
      <a href={{tamrin.file.url}}>
      <button type="button" class="btn btn-primary" style='font-family:"byekan"' >دانلود</button></a>
      
     
      
       <p style='font-family:"byekan"'>حداکثر مهلت تحویل تمرین</p>
      <p>{{tamrin.time_expire|to_jalali:'%m/%d  %H:%M'}}</p>


      {% comment %} <a href='/teacher/excercise/edit/{{tamrin.id}}'>
      <button type="button" class="btn btn-success" style='font-family:"byekan"' >ویرایش تمرین</button></a> {% endcomment %}



      
      {% comment %} <form method='post'  enctype="multipart/form-data">

         {{form.file}}
         <input type="hidden" id="custId" name="tamrin" value="{{tamrin.id}}">
         
         <input type="submit" value="فرستادن">

    <script type="text/javascript">
        $('#id_file').bind('change', function() {
          if (this.files[0].size/1000000 > 200){
            alert('حجم فایل انتخابی بسیار زباد است');
            this.files[0] = null;
          }        
        });
    </script>
      </form> {% endcomment %}
       <p>
      {% comment %} {% if tamrin.is_expired %} {% endcomment %}
       <a href = "/teacher/tamrin_answers/{{tamrin.id}}">
         <button type="button" class="btn btn-info" style='font-family:"byekan"' > دریافت پاسخ های فرستاده شده</button> </a>
      {% comment %} {% endif %} {% endcomment %}
        
      </p>
    </div>
  </div>
</center> 


{% endfor %} 
	
{% endblock content %}


