{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ school_name }}</title>

{% block links %}

   {% include "links.html" %}

{% endblock links %}


<body >

	<!-- Header -->
{% include 'header.html' %}
	<!-- Menu -->
{% include 'menu.html' %}



	<!-- Home -->


{% include "Home.html" %}


	<div class="hero_boxes">
		<div class="hero_boxes_inner">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src=" {% static "images/earth-globe.svg" %}" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title">Online Courses</h2>
								<a href="courses.html" class="hero_box_link">view more</a>
							</div>
						</div>
					</div>


				
					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src=" {% static "images/books.svg" %}" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title" style = 'font-family : "byekan"'>معلمان</h2>
								<center>

									<a href="/profile/teacher/"  class="hero_box_link" style="font-size:24px;  font-family : 'byekan'">ورود</a>

								</center>
							</div>
						</div>
					</div>

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src=" {% static "images/professor.svg" %}" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title" style = 'font-family : "byekan"'>دانش آموزان</h2>
								<center>

									<a href="/profile/my/"  class="hero_box_link" style="font-size:24px;  font-family : 'byekan'">ورود</a>

								</center>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	]
	
{% include 'news.html' %}
</div>


	<!-- Services -->


	<!-- Events -->


	<footer class="footer">
		<div class="container">

			<!-- Newsletter -->

		

			<!-- Footer Content -->


			<!-- Footer Copyright -->

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://sadatmand.ir" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-telegram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>

</body>

{% include 'all_script.html' %}
</html>
