{% load static %}
<div class="home">


  <!-- Hero Slider -->
  <div class="hero_slider_container">


    <div class="hero_slider owl-carousel">

      <!-- Hero Slide -->
      <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url( {% static "images/bg1.jpg" %} )"></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
          <div class="hero_slide_content text-center">
            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style=" font-family: 'byekan'; color:green"> به <span>{{school_name}}</span> خوش آمدید </h1>
          </div>
        </div>
      </div>

      <!-- Hero Slide -->
      <div class="hero_slide">
        <div class="hero_slide_background" style= "background-image:url({% static "images/bg2.jpg" %} )" ></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
          <div class="hero_slide_content text-center">
            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style=" font-family: 'byekan' ; color:green"> به <span style = "color:red">{{school_name}}</span> خوش آمدید </h1>


          </div>
        </div>
      </div>

      <!-- Hero Slide -->
      <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url({% static "images/slider_background.jpg" %} )"></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
          <div class="hero_slide_content text-center">
            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style=" font-family: 'byekan';"> به <span>{{school_name}}</span> خوش آمدید </h1>

             <!-- <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span>Education</span> today!</h1>  -->
          </div>
        </div>
      </div>

    </div>

    <div class="hero_slider_left hero_slider_nav trans_200"><span  style=" font-family: 'byekan';">قبلی</span></div>
    <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200" style=" font-family: 'byekan';">بعدی</span></div>
  </div>
</div>
</div>
